# CMake shit
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Makefile, fuck you
Makefile

.vscode

TODO.txt

topDownGame
Rvm.app

# even though cmake ignores are not needed anymore I'm still gonna leave them because they look fucking pretty
build
