[submodule "RVL/vendor/imgui"]
	path = RVL/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "RVL/vendor/include/glm"]
	path = RVL/vendor/include/glm
	url = https://github.com/g-truc/glm.git
[submodule "RVLMapEditor/vendor/nativefiledialog"]
	path = RVLEditor/vendor/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
	
[submodule "RVL/vendor/assimp"]
	path = RVL/vendor/assimp
	url = https://github.com/assimp/assimp.git
