[submodule "RVL/vendor/imgui"]
	path = RVL/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "RVL/vendor/include/glm"]
	path = RVL/vendor/include/glm
	url = https://github.com/g-truc/glm.git
	
[submodule "RVL/vendor/assimp"]
	path = RVL/vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "RVL/vendor/yaml"]
	path = RVL/vendor/yaml
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "RVL/vendor/nativefiledialog/RVL/vendor/nativefiledialog"]
	path = RVL/vendor/nativefiledialog/RVL/vendor/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "RVL/vendor/nativefiledialog/nativefiledialog"]
	path = RVL/vendor/nativefiledialog/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
